################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/YouTubeV2/.config
/backend/YouTubeV2/Properties
/frontend/angular.json
