.avatar {
    max-width: 600px; /* Change this to the desired maximum width */
    max-height: 600px; /* Change this to the desired maximum height */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.video {
    max-width: 200px; /* Change this to the desired maximum width */
    max-height: 200px; /* Change this to the desired maximum height */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}