<p-panel header="User Details">  
  <p-tabView>
    <p-tabPanel header="About">
      <div class="p-grid p-dir-col">
        <img [src] = "user.avatarImage" class="avatar">
        <div class="p-col">
          <label>String:</label> {{ user.string }}
        </div>
        <div class="p-col">
          <label>Email:</label> {{ user.email }}
        </div>
        <div class="p-col">
          <label>Nickname:</label> {{ user.nickname }}
        </div>
        <div class="p-col">
          <label>Name:</label> {{ user.name }}
        </div>
        <div class="p-col">
          <label>Surname:</label> {{ user.surname }}
        </div>
        <div class="p-col">
          <label>Account Balance:</label> {{ user.accountBalance }}
        </div>
        <div class="p-col">
          <label>User Type:</label> {{ user.userType }}
        </div>
        <div class="p-col">
          <label>Subscriptions Count:</label> {{ user.subscriptionsCount }}
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Videos" (onActivate)="getVideos()">
      <ul *ngIf="videos">
        <li *ngFor="let video of videos">
          <h3>{{ video.title }}</h3>
          <p>{{ video.description }}</p>
          <img [src] = "video.thumbnail" class="video">
          <p>Author: {{ video.authorNickname }}</p>
          <p>Views: {{ video.viewCount }}</p>
          <p>Tags: {{ video.tags.join(', ') }}</p>
          <p>Visibility: {{ video.visibility }}</p>
          <p>Duration: {{ video.duration }}</p>
        </li>
      </ul>
    </p-tabPanel>
    <p-tabPanel header="Playlists" (onTabShow)="getPlaylists()">
      <ul *ngIf="playlists">
        <li *ngFor="let playlist of playlists">
          <h3>{{ playlist.name }}</h3>
          <p>{{ playlist.count }} count</p>
        </li>
      </ul>
    </p-tabPanel>
  </p-tabView>
  
</p-panel>

